img
{
width:125px;
height:150px;
object-position:right-top;
Float:right;
border: 1px solid red;
border-radius:20px;
margin-right: 20px;
margin-left:10px;
}
#header
{
width:100%;
height:150px;
background-color:#62fede;
}
#body
{
width:100%;
height:710px;
background-color:#e1a6cd;
}

table
{
border:1px solid blue;
text-align:center;
padding:2px;
}
th
{
background-color:grey;
color: black;
}

th:nth-child(2)
{
background-color:tomato;
}
tr
{
background-color:#cbec00;
}
th:hover
{
background-color:grey;
}
#s
{
float:right;
margin-right:30px;
}

#header-design
{
font-size:20px;
color:blue;
text-decoration:underline;
font-family:times new roman;
 text-shadow: 1px 1px ;

}
